.nav {
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
    padding: 15px;
    column-gap: 10px;

}

.nav__button {
    padding: 10px;
    border: none;
    box-shadow: 0px 0px 8px lightslategrey;
    background-color: rgba(70, 131, 180, 0.6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    flex: 0 0 120px;
}

.nav__button:hover {
    background-color: rgba(70, 131, 180, 0.5);
}